In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy

In [93]:
df = open(r'C:\Users\Pratik\Downloads\spam.csv')
import csv
df = csv.reader(df)
df = pd.DataFrame(df)

In [94]:
df.head()

      0                                                  1 2 3 4
0    v1                                                 v2
1   ham  Go until jurong point, crazy.. Available only ...
2   ham                      Ok lar... Joking wif u oni...
3  spam  Free entry in 2 a wkly comp to win FA Cup fina...
4   ham  U dun say so early hor... U c already then say...

In [95]:
df.head()

      0                                                  1 2 3 4
0    v1                                                 v2
1   ham  Go until jurong point, crazy.. Available only ...
2   ham                      Ok lar... Joking wif u oni...
3  spam  Free entry in 2 a wkly comp to win FA Cup fina...
4   ham  U dun say so early hor... U c already then say...

In [121]:
df2 = df.set_axis(["category","mails","de","de1","de2"], axis=1, inplace = False)
df2

     category                                              mails de de1 de2
0          v1                                                 v2
1         ham  Go until jurong point, crazy.. Available only ...
2         ham                      Ok lar... Joking wif u oni...
3        spam  Free entry in 2 a wkly comp to win FA Cup fina...
4         ham  U dun say so early hor... U c already then say...
...       ...                                                ... ..  ..  ..
5568     spam  This is the 2nd time we have tried 2 contact u...
5569      ham              Will Ì_ b going to esplanade fr home?
5570      ham  Pity, * was in mood for that. So...any other s...
5571      ham  The guy did some bitching but I acted like i'd...
5572      ham                         Rofl. Its true to its name

[5573 rows x 5 columns]

In [131]:
df3 = df2.drop([0], axis=0)

In [132]:
df4 = df3.drop(columns = ["de","de2","de1"], axis = 1)

In [133]:
df4

     category                                              mails
1         ham  Go until jurong point, crazy.. Available only ...
2         ham                      Ok lar... Joking wif u oni...
3        spam  Free entry in 2 a wkly comp to win FA Cup fina...
4         ham  U dun say so early hor... U c already then say...
5         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5568     spam  This is the 2nd time we have tried 2 contact u...
5569      ham              Will Ì_ b going to esplanade fr home?
5570      ham  Pity, * was in mood for that. So...any other s...
5571      ham  The guy did some bitching but I acted like i'd...
5572      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [136]:
df4.groupby("category").describe()

         mails
         count unique                                                top freq
category
ham       4825   4516                             Sorry, I'll call later   30
spam       747    653  Please call our customer service representativ...    4

In [141]:
df4["spam"] = df4['category'].apply(lambda x: 1 if x == "spam" else 0)
df4.head()

  category                                              mails  spam
1      ham  Go until jurong point, crazy.. Available only ...     0
2      ham                      Ok lar... Joking wif u oni...     0
3     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
4      ham  U dun say so early hor... U c already then say...     0
5      ham  Nah I don't think he goes to usf, he lives aro...     0

In [143]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df4.mails, df4.spam, test_size = 0.2)

In [144]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [146]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [147]:
emails = [
    "hi pratik, can we get together" , 
    "upto 15% discount"
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [163]:
x_test_count = v.transform(x_test)
model.score(x_test_count, y_test)

0.9838565022421525

In [167]:
from sklearn.pipeline import Pipeline
m2 = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])
cl

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [168]:
m2.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [169]:
m2.score(x_test,y_test)

0.9838565022421525